body {
  background: linear-gradient(to right, #b7cae9, #5376aa);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  
}

#instructions {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 100px;
}

.deck {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: row;
}

.row-select {
  margin: 57.5px 50px;
  height: 50px;
  width: 90px;
  border-radius: 10px;
  border: solid 1px #473e3e;
  box-shadow: 0 0 10px #473e3e;
  cursor: pointer;
}

.row-select:hover {
  background-color: #f8f2e7;
  text-decoration: none;
  transition-duration: 0.1s;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(-1px);
}

#deck {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.interface {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.card {
  border: solid 1px #aaa;
  border-radius: 9px;
  width: 100px;
  height: 150px;
  float:left;
  background-color: white;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 0 10px #817878;
}

.card .value {
  font-size:15pt;
  font-family: sans-serif;
}
.card .suit {
	height: 140px;
  width: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}


.card .diamonds {
  background-image: url(diamonds.png);
  color: red;
}
.card .hearts {
  background-image: url(hearts.png);
  color: red;
}
.card .clubs {
  background-image: url(clubs.png);
  color: black;
}
.card .spades {
  background-image: url(spades.png);
}


.reveal-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
#reveal-text {
  font-size: 20px;
  font-weight: bold;
}

.button {
  margin-top: 30px;
  width: 60%;
  height: 50px;
  border-radius: 10px;
  border: solid 1px #473e3e;
  box-shadow: 0 0 10px #473e3e;
  cursor: pointer;
}

.button:hover {
  background-color: #f8f2e7;
  text-decoration: none;
  transition-duration: 0.1s;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(-1px);
}

@media (max-width: 1440px) or (max-height: 900px) {

  .button {
    margin-top: 20px;
    width: 50%;
    height: 45px;
    border-radius: 9px;
  }
  .row-select {
    margin: 42.5px 40px;
    height: 50px;
    width: 90px;
  }
  
  .card {
    width: 80px;
    height: 120px;
  }
  .card .value {
    font-size: 12pt;
  }
  .card .suit {
    height: 110px;
    width: 80px;
  }
}

@media (max-width: 1024px) or (max-height: 768px){

  .button {
    margin-top: 15px;
    width: 40%;
    height: 40px;
    border-radius: 8px;
  }
  .interface {
    margin-top:10px;
  }
  .row-select {
    margin: 35px 30px;
    height: 40px;
    width: 72px;
  }
  .card {
    width: 60px;
    height: 90px;
  }
  .card .value {
    font-size: 10pt;
  }
  .card .suit {
    height: 80px;
    width: 60px;
  }
}

@media (max-width: 720px){
  #instructions {
    font-size: 18px;
  }
  .interface {
    margin-top:5px;
  }
  .row-select {
    margin: 25px 10px;
    height: 30px;
    width: 60px;
    font-size:12px;
  }
  .card {
    width: 40px;
    height: 60px;
  }
  .card .value {
    font-size: 10pt;
  }
  .card .suit {
    height: 60px;
    width: 40px;
  }

  .reveal-display .card {
    width: 60px;
    height: 90px;
  }
  .reveal-display .card .value {
    font-size: 10pt;
  }
  .reveal-display .card .suit {
    height: 80px;
    width: 60px;
  }
}

@media (max-height: 600px) {
  #instructions {
    margin: 50px;
  }
}
